/* variables */
:root {
    --clr-primary-700: #A26DDE;
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #FAFAFA;
    --clr-secondary-600: #7E74EC;
    --clr-secondary-500: #B2ACF4;

    --clr-txt-400: #5D5D60;
    --clr-txt-600: #353535;

    
    --ff-primary: 'Montserrat', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semiBold: 600;

    --fs-400: 1.75rem;
    --fs-500: 2.375rem;
    --fs-700: 4rem;
}

/* utility classes */
.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semiBold {
    font-weight: var(--fw-semiBold);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-700 {
    font-size: var(--fs-700);
}

.clr-heading-primary {
    color: var(--clr-primary-700);
}

.clr-heading-neutral {
    color: var(--clr-neutral-100);
}

.clr-txt-400 {
    color: var(--clr-txt-400);
}

.clr-txt-600 {
    color: var(--clr-txt-600);
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* global rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    overflow: hidden;
}

header {
    padding-top: 60px;
}

h1 {
  text-align: center;
  letter-spacing: 0.555rem;
}

/* half */
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--clr-primary-700);
    z-index: -1;
}

/* whiteboard-container */
.whiteboard-container {
    --whiteboard-width: 600px;
    --whiteboard-gridSize: 75; 
    display: flex;
    position: relative;
    width: 100%;
    align-items: flex-start;
    gap: 30px;
    margin-top: 40px;
}

/* options */
.options {
    position: absolute;
    left: calc(50% - (var(--whiteboard-width) / 2) - 145px);
    top: 0;
}

.options ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.options button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border: 5px solid var(--clr-secondary-500);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s ease;
    transition-property: border-color transform;
}

.options img {
    width: 70%;
}

.options ul li:first-child button {
    position: relative;
}

.options .selected-color {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}


.options .selected-color + div {
    width: 50%;
    height: 50%;
    background-color: black;
    border-radius: 100%;
    margin: 0 auto;
}


.options ul li:last-child {
    position: fixed;
    bottom: 0;
    left: 0px;
}

.options ul li:last-child button {
    border: none;
}

.options button.selected {
    transform: scale(1.1);
    border-color: var(--clr-secondary-600);
}

/* whiteboard */
.whiteboard {
    display: grid;
    grid-template-columns: repeat(var(--whiteboard-gridSize),1fr);
    grid-template-rows: repeat(var(--whiteboard-gridSize),1fr);
    background-color: white;
    margin: 0 auto;
    width: var(--whiteboard-width);
    height: var(--whiteboard-width);
    border: 3px solid var(--clr-txt-600);
}

.whiteboard div {
    user-select: none;
}

/* settings */
.settings-container {
    opacity: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.settings-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-200);
    width: 70%;
    height: 60%;
}

.settings-container.open {
    opacity: 1;
    z-index: 100;
}

.grid-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.grid-size h2 {
    letter-spacing: 0.3325rem;
}

.grid-size h3 {
    letter-spacing: 0.245rem;
}

.range {
    display: flex;
    position: relative;
    gap: 20px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.range .selected-size {
    position: absolute;
    top: -60px;
    width: 125px;
    text-align: center;
    border: 2px solid var(--clr-secondary-600);
    border-radius: 5px;
}

.range-input {
    width: 100%;
    display: flex;
    gap: 30px;
}

.range-input input {
    width: 100%;
}

.close-settings {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
}


